fastapi
uvicorn
python-dotenv
pymongo
langchain
langchain-community
langchain-google-genai
pdfplumber
pandas
PyMuPDF
python-multipart
docx2txt
Pillow
faiss-cpu
pdf2image
opencv-python
numpy
pytesseract
python-docx
openpyxl
unstructured[xlsx]
sentence-transformers
langchain_experimental